.navbar-custom .nav-item:hover .nav-link {
	background-color: white;
	border-radius: 10px;
}

.navbar-custom .navbar-brand {
	font-size: 20px;
	font-family: galindo;
}

.navbar-custom .nav-item .nav-link {
	font-size: 20px;
	font-family: galindo;
}

.form-custom {
	font-size: 20px;
	font-family: galindo;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 20px;
	font-family: galindo;
}

.text-design {
	font-weight: bold;
	font-family: galindo;
	font-size: 40px;
	width: 100%;
	height: 10vh;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.register-form {
	font-weight: bold;
	font-family: galindo;
	font-size: 20px;
}

.head-size {
	font-size: 30px;
	font-family: galindo;
}

.size-grow{
	font-family: galindo;
}

